
  @font-face {
    font-family: 'archeologicaps'; 
    src: url('font\Archeologicaps.ttf') format('truetype');  }
  @font-face {
    font-family: 'charlemagnestd-bold'; 
    src: url('font\CharlemagneStd-Bold.otf') format('truetype'); } 
  @font-face {
    font-family: 'Gotham Bold'; 
    src: url('font\Gotham Bold.otf') format('truetype'); }
  @font-face {
    font-family: 'Gotham Light'; 
    src: url('font\Gotham Light.otf') format('truetype'); }
  @font-face {
    font-family: 'Gotham Medium'; 
    src: url('font\Gotham Medium.otf') format('truetype'); }
  @font-face {
    font-family: 'Raleway-Bold'; 
    src: url('font\Raleway-Bold.ttf') format('truetype'); }
  @font-face {
    font-family: 'Raleway-Light'; 
    src: url('font\Raleway-Light.ttf') format('truetype'); }
  @font-face {
    font-family: 'Raleway-Regular'; 
    src: url('font\Raleway-Regular.ttf') format('truetype'); }

.archeologicaps{font-family: 'archeologicaps', sans-serif; text-align: center;}
.charlemagnestd-bold{font-family: 'charlemagnestd-bold', sans-serif;}
.Gotham-Bold{font-family: 'Gotham Bold', sans-serif;}
.Gotham-Light{font-family: 'Gotham Light', sans-serif;}
.Gotham-Medium{ font-family: 'Gotham Medium', sans-serif;}
.Raleway-Bold{font-family: 'Raleway-Bold', sans-serif;}
.Raleway-Regular{font-family: 'Raleway-Regular', sans-serif;}
.Raleway-Light{font-family: 'Raleway-Light', sans-serif;}
.header {font-size: 97.73 pt;color: #f3e2ba;}

.img-container{display: flex;}
  .container{
    align-items: center;
    margin-top: 30px;

}
 img {
    height: auto;
    margin-right: 30px;}
    .col-md-3{position:relative}
.col-md-3 img {align-items: center;
margin-top: 30px;}
.col-4 {text-align: center;
}
.header{background-image: url(./img/BackgroundImage.png);background-size: cover; margin-bottom: 30px; padding: 30px;}

.presentation h5{ font-size: 38.36 pt; color: #f3e2ba;text-align: left; }
.presentation{margin:30px ; padding: 30px;}
.col-md-6 img{float: right;}
.actualites h5 {text-align: center; font-size: 37.39pt; color: #f3e2ba;}
.actualites{ padding-top: 30px; background-image: url(./img/screen_3840x2160_2018-02-06_11-12-14.png );
}
.nav{ background-color: transparent;}

.info h5{ color: #f3e2ba;font-size: 24 pt;}
body{
  background-image: url(./img/bg.png);
}
.inscrir{background-image: url(./img/123.png);}
.inscrir img{ align-items: center;}
footer{text-align: center;font-size: 13.5 pt; margin-top: 30px;}
.elipses{margin-top: 30px;margin-bottom: 30px; padding: 30px; margin-left: 400px;}
p{color: white;}
.actu1{background-image: url(./img/b6e29529db425c8a9779c988b2166632--darksiders--design-comics.png);background-size: cover; }
.actu2{background-image: url(./img/Rectangle12copie8.png);background-size: cover; }
.container p{margin-top: 100px;}

.actu3{background-image: url(./img/tout-ce-quil-faut-savoir-pour-profiter-du-salon.png);background-size: cover; }
.actu4{background-image: url(./img/eydolon.png);background-size: cover; }
.actu1 p{font-size: 10 pt;}
.head1{background-image: url(./img/image.png);background-size: cover;}
.head2{background-image: url(./img/screen_3840x2160_2018-02-06_10-46-51.png);background-size: cover;}
.head3{background-image: url(./img/EngrenagesEnigme3.png);background-size: cover;}
.marging{margin-bottom: 40px;}
.imggallerie{margin: 20px; padding-left: 30px;  display: flex;}
.imggr{padding-left: 150px;}
.info2{background-image: url(./imggallerie/Rectangle6.png); padding: 30px;}
.info2 h5{ color: #f3e2ba;font-size: 24 pt;}
.gallerie h1 {margin-top: 30px;color: #f3e2ba;}
.contact2{background-image: url(./img/screen_3840x2160_2018-02-06_11-12-14.png);background-size: cover;}
.contact{margin-bottom: 30px; margin-left: 30px;margin-right:30px; padding: 30px; }
.contact h1{text-align: center;color:#f3e2ba;}
.contact h5{color:#f3e2ba;}
.apropos{align-items: center;text-align: center;;margin-bottom: 30px;margin-left: 200px;margin-right: 200px;padding: 30px; }
.apropos p{font-size: 44 pt;}
.apropos h1{color: #f3e2ba;}
.apropos h5{color:white}
.apropos2{background-image: url(./apropos.png); background-size: cover;}
input{margin: 10px;padding: 10px;}
label{margin: 10px;padding: 10px;}
.butt{margin: 10px;padding: 10px;text-align: center;}
.mess{text-align: center;}
.get_in_touch{
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.9);
  padding: 30px;
}
.contact-form .form-filed  {
position: relative;
margin: 32px 0;
}
.contact-form .input-text{
  display: block;
  width: 100%;
  height: 36px;
  border-width:0 0 2px 0 ;
  border-color: white;
  font-size: 18px;
  line-height: 26px;
  font-size: 400;
  background-color: transparent;
}

.contact-form .input-text :focus{
  outline: none;
}
.contact-form .label{
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: white;
  cursor: text;
  text-transform: capitalize;
  transition:   ease-in-out;
}
